In [8]:
print("Hello world!")

a=10
b=20
c=a+b

print(c)

print(type(a))

name="hsshshshds"

print(type(name))

x=10.10
print(type(x))

z=True
print(type(z))

Hello world!
30
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [9]:
a=100
b=50
c=a>b
print(c)

True

In [10]:
a=100
b=50
c=a<b
print(c)

False

In [11]:
list= [1,2,3,4,5]
print(type(list))

<class 'list'>

In [12]:
list[1]

2

In [14]:
print(list[1])

2

In [15]:
print(list[2])
print(list[3])
print(list[4])

3
4
5

In [16]:
for ele in list:
    print(ele)

1
2
3
4
5

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
#multi table of 2

for i in range(1, 11):
    print(2 * i)

2
4
6
8
10
12
14
16
18
20

In [21]:
a=5
a+=4
print(a)

9

In [22]:
a=5
a*=5
print(a)

25

In [23]:
a/=2
print(a)

12.5

In [24]:
a-=2
print(a)

10.5

In [25]:
a=5
a-=2
print(a)

3

In [26]:
a=5
a/=2
print(a)

2.5

In [32]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b

print(c)

if a>b:
    print("a is the bigger number")
else:
    print("b is the bigger number")

5
b is the bigger number

In [33]:
li = [0] * 5

print(li)

[0, 0, 0, 0, 0]

In [34]:
c=10//4
print(c)

2

In [35]:
a=10
b=5
c=a>b
print(c)

True

In [36]:
c=a<b
print(c)

False

In [39]:
c=a==b
print(c)

False

In [41]:
c=a!=b
print(c)

True

In [43]:
c=a>=b
print(c)

True

In [44]:
c=a<=b
print(c)

False

In [48]:
#logical operators

a=3<10
b=5>2
c=3>10
d=10==5

#checking whetehr a and b are true or not

print(a and b)

True

In [50]:
#checking whether a and c are true or not
print(a or c)
print(c or d)

True
False

In [52]:
#negation

c=10>5
print(c)
z= not(c)
print(z)

True
False

In [54]:
x= 3**3
print(x)

27

In [56]:
a=10
b=5

print(a is b)
print(a is not b)

False
True

In [57]:
age=input()

In [58]:
print(type(age))

<class 'str'>

In [59]:
age=int(input())
print(type(age))

<class 'int'>

In [60]:
a= 25.5
b= int(a)
print(b)

25

In [62]:
a="123"
b=int(a)
print(b)
print(type(b))

123
<class 'int'>

In [65]:
a=123
b=str(a)
print(b)
print(type(b))

123
<class 'str'>

In [68]:
#conditional statements

a=int(input("enter the value of a: "))
b=int(input("enter the value of b: "))
if a>b:
    print(a,"is greater than", b)
else:
    print(a,"is not greater then", b)

2 is not greater then 3

In [70]:
x=int(input("enter the value of x: "))
if x%2==0:
    print(x,"is an even number")
else:
    print(x,"is a odd number")

7 is a odd number

In [72]:
marks=int(input("enter the marks obtained:"))
if marks>=0 and marks<=33:
    print("you have failed")
elif marks>=33 and marks<=60:
    print("the grade obtained is C")
elif marks>=60 and marks<=70:
    print("the grade obtained is B")
elif marks>=70 and marks<=90:
    print("the grade obtained is A")
else:
    print("the grade obtained is A+")

you have failed